*{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(14, 14, 228);

}

h1{
    color: rgba(198, 104, 104, 0.669);
    font-family:cursive ;
}

body{
    margin: 100px;
    
}